.app-container {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.chat-container {
  background-color: #414141;
  max-height: 80vh;
  max-width: 100%;
  border-radius: 1rem;
}

.contact-container {
  background-color: #242424;
  min-height: 90vh;
  max-height: 90vh;
  border: 1px transparent;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-right:1px solid #2e2e2e;
}

.message-container {
  background-color: #1b1b1b;
  max-height: 90vh;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navbar {
  padding-top: 1rem; 
  padding-left: 3rem;
  padding-bottom: 1rem;
}